@import "../../../colors";

.wine-search-results {
  margin: 0px;
  position: absolute;
  z-index: 999;
  display: block;
  width: 100%;
  left: -25px;
  li {
    list-style-type: none;
    display: block;
    padding: 5px;
    padding-left: 30px;
    cursor: pointer;
    margin: 0;
    &:nth-child(even) {
      background: #f1f1f1;
      &:hover {
        background: $color-purple;
      }
    }
    &:nth-child(odd) {
      background: #fff;
      &:hover {
        background: $color-purple;
      }
    }
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
}