@import "../../../colors";

:host .panel-primary {
  border: none;
  .panel-heading {
    background-color: $color-purple;
    border-color: $color-purple-dark;
  }
  max-width: 500px;
  margin: 0 auto;
}