@import "../../../colors";

:host {
  min-width: 78px;
  display: block;
  .btn {
    float: left;
  }
  .btn-primary {
    background-color: $color-purple-light;
    border: none;
    &:hover {
      background-color: $color-purple;
    }
  }
  .amount {
    width: 30px;
    display: block;
    text-align: center;
    float: left;
  }
}